body{
    background-color: black;
    font-family: 'Courier Prime', monospace;
    color: white;
    
}
h1, h2{
    text-align: left;
    font-weight: 400;
}
h1{
    font-size: 38px;
}
p{
    font-weight: 300;
    font-size: 22px;
    margin-top: 0;
    margin-left: 0.8em;
    margin-right: 0;
    margin-botton: 0.5em;    
}
.menu{
    border: 0.1em dashed #fff;
    text-align: initial;
    text-indent: 1.5em;
    clear: both;
}
nav { 
    background-color: black;
}
nav ul { list-style:none; 
        margin:0; 
        padding:4px; 
}
nav ul li { 
        display:inline-block 
}
nav ul li a { 
            font-size: 22px; 
            text-decoration: none; 
            color: #FFF; 
            padding: 4px 20px;
}
nav ul li a:hover { 
        background-color: black; 
}
.main{
    border: none;
    width: 900px;
    margin: 0 auto;
}
.imagen{
 float:left;
 padding:3em;
 margin-bottom:5em;
}
footer{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    height: 300px;
}
